/* Footer.css */

/* Estilos del footer */
footer {
    background-color: #1a202c; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    position: relative; /* Permite que el footer esté en el flujo del documento */
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
}

/* Estilos de los elementos internos del footer */
.footer-container {
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centra los elementos verticalmente */
}

.footer-input {
    width: 100%; /* Ancho completo */
    max-width: 300px; /* Ancho máximo del input */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}

.footer-button {
    background-color: #38b2ac; /* Color del botón */
    color: white; /* Color del texto del botón */
    padding: 10px 15px; /* Espaciado interno del botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Estilo para los elementos de la lista en el footer */
.footer-list {
    display: flex;
    flex-direction: vertical; /* Coloca los ítems en columnas */
    align-items: center; /* Centra los ítems */
    margin-top: 20px; /* Margen superior */
}

/*nuevo*/

/* Footer.css */

.footer-container {
    background-color: #1f2937; /* Color de fondo oscuro */
    padding: 20px;
  }
  
  .footer-header h1 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .footer-list {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-bottom: 20px;
  }
  
  .footer-list div {
    padding: 5px 15px;
    border-radius: 8px;
    color: #ffffff;
    transition: background-color 0.3s;
  }
  
  .footer-list div:hover {
    background-color: #4a5568; /* Color de fondo al pasar el cursor */
  }
  
  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #2d3748; /* Borde superior */
  }
  
  .footer-bottom span {
    margin: 5px 0;
    color: #a0aec0;
  }
  
  .footer-bottom span:hover {
    color: #ffffff;
  }
  
  .footer-bottom .flex > * {
    margin: 0 10px;
  }
  
  .flex .w-5.h-5 {
    transition: color 0.3s;
  }
  
  .flex .w-5.h-5:hover {
    color: #38b2ac; /* Cambia de color al pasar el cursor */
  }
  